
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --green:rgb(232, 14, 14);
}

nav {
    background-color: crimson;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: white;
    position:fixed;
    width: 100%;
}
img {
    height: 40px;
    width: 40px;
}
.subMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;  
    transition: all 0.5s; 
    
}
.subMenu a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
    color: #040404;
}
.subMenu a:hover {
    background-color: aquamarine;
    color: black;
}
.menuIcon {
    font-size: 25px;
}
nav input:hover~.subMenu{
    background-color: black;
}
nav input:checked~.subMenu {
    background-color: #74b954;
    left: 0;
}
nav input, nav .menuIcon {
 display: none;
}
@media screen and (max-width:800px) {
    .subMenu {
        position: fixed;
        background-color: rgb(245, 240, 240);
        left: -100%;
        top: 0px;
        height: 70vh;
        width: 50%;
        flex-direction: column;
        justify-content: start;
        padding: 40px 0px 0px;
       
    }
    .subMenu a  {
        font-size: 25px;
    }
    nav .menuIcon {
        display: inline;
    }
}


.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 90px;
 
}
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0;
    background-color: #74b954;


.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img{
    width: 300px;
    height: 300px;
    display: block;
    transition: 0.5s ease;
    margin-left: 30px;
}
.about-image img:hover{
    transform: scale(1.2);
}

.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

button{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 19px;
    background-color: chocolate;
    margin-top: 25px;
    text-decoration: none;
    border-radius: 25px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .heading{
        padding:90px 0px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
        margin-left: 40px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
     padding: 0px;

    }
}

